appdirs==1.4.3
attrs==16.3.0
click==6.7
future==0.16.0
-e git+https://github.com/misaakidis/python-gnupg.git@bb9c88ab9560eb4a31dbbd7ff8971e370d6b6128#egg=gnupg
-e git+https://git@github.com/bogdan-kulynych/rousseau-chain.git@965de1765bc46cf38e51a66891dc49489e11b280#egg=hippiehug&subdirectory=hippiehug-package
msgpack-python==0.4.8
packaging==16.8
pkg-resources==0.0.0
protobuf==3.2.0
psutil==5.2.2
py==1.4.33
pyparsing==2.2.0
pytest==3.0.7
redis==2.10.5
six==1.10.0
setuptools